body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: rgb(244, 228, 201);
}

nav {
  display: flex;
  flex-wrap: wrap;
}
.teamIcon {
  margin: 5px;
}

.modal {
  box-sizing: content-box;
  border-radius: 0.5rem;
  height: 500px;
  width: inherit;
  text-align: center;
  border-style: solid;
  margin: 15px;
}

.top-five-in-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-card {
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #828282;
  margin: 0.5rem;
  flex-grow: 0.1;
}

.player-img {
  margin-top: 10px;
  width: 200px
}

.player-stats {
  display:flex;
  flex-direction: column;
}
